{% extends 'app/base.html' %}
{% load static %}
{% block title %} Registro {%endblock %}

{% block content %}

<div class="container">
	
	<div class="row">
		<div class="col-2 mt-3 mb-3"></div>
		<div class="col-8 mt-3 mb-3">
			<div class="row">
				<form action="{% url 'registro' %}" method="post">
					{% csrf_token %}
					<h1 class="texto-principal text-center">Registro de usuario</h1>
					<hr />
					<h5>Nombre Completo</h5>
					{{ signupForm.nombre }}

					<h5>Correo Electronico</h5>
					{{ signupForm.email }}

					<h5>Número celular</h5>
					{{ signupForm.telefono }}

					<h5>Contraseña</h5>
					{{ signupForm.password }}

					<h5>Reingrese su contraseña</h5>
					{{ signupForm.password2 }}

					<div class="d-grid gap-2">
						<button type="submit" class="btn btn-dark mb-3" id="btn_reg">
							Registrarse
					</div>

					<p id="warnings" class="text-center "></p>
					<div class="text-center">
						<p class="text-center" >¿Ya tienes una cuenta?</p>
						<a href="login.html" class="text-reset">Inicia sesión aqui</a>
					</div>
				</form>
			</div>
		</div>
		<div class="col-2"></div>
	</div>
</div>
{%endblock %}
