{% extends 'app/base_admin.html' %} 
{% load static %} 
{% block title %} Admin {%endblock %} 

{% block content %}
		<!--CONTENIDO-->

		<div class="container">
			<h1 class="h2 m-4  text-center texto-principal">Administración de productos</h1>
			<div class="d-grid gap-2 col-6 mx-auto">
				<a class="text-center" href="agregar_producto.html"
					><button class="btn btn-dark" type="button">Agregar producto</button>
				</a>
			</div>
		</div>
		<!--PRODUCTOS-->
		

		<div class="container">
			
			<hr />
			<div class="row mb-3">
				<div class="col-md-4 col-sm-6 mb-3">
					<div class="card shadow bg-light">
						<img
							class="card-img-top"
							src="../img/cocina.jpg"
							alt="Card image"
							style="width: 100%"
						/>
						<div class="card-body">
							<h4 class="card-title titulo-producto text-center">Cocina</h4>
							<p class="card-text">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
								dolores molestiae illum perspiciatis suscipit officia fugit
								corrupti vero totam. Fuga porro nesciunt ratione, ipsum
								veritatis commodi ea ut inventore nihil!
							</p>
							<h3 class="titulo-producto text-center">$5.000</h3>
							<div class="d-grid gap-2">
								<a href="../vista_admin/Modificar_Producto.html" class="btn btn-dark">Editar</a>
								<a href="#" class="btn btn-dark">Eliminar</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb-3">
					<div class="card shadow bg-light">
						<img
							class="card-img-top"
							src="../img/mueble.png"
							alt="Card image"
							style="width: 100%"
						/>
						<div class="card-body">
							<h4 class="card-title titulo-producto text-center">Mueble</h4>
							<p class="card-text">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
								dolores molestiae illum perspiciatis suscipit officia fugit
								corrupti vero totam. Fuga porro nesciunt ratione, ipsum
								veritatis commodi ea ut inventore nihil!
							</p>
							<h3 class="titulo-producto text-center">$5.000</h3>
							<div class="d-grid gap-2">
								<a href="../vista_admin/Modificar_Producto.html" class="btn btn-dark">Editar</a>
								<a href="#" class="btn btn-dark">Eliminar</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb-3">
					<div class="card shadow bg-light">
						<img
							class="card-img-top"
							src="../img/libreria.jpg"
							alt="Card image"
							style="width: 100%"
						/>
						<div class="card-body">
							<h4 class="card-title titulo-producto text-center">Librero</h4>
							<p class="card-text">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
								dolores molestiae illum perspiciatis suscipit officia fugit
								corrupti vero totam. Fuga porro nesciunt ratione, ipsum
								veritatis commodi ea ut inventore nihil!
							</p>
							<h3 class="titulo-producto text-center">$5.000</h3>
							<div class="d-grid gap-2">
								<a href="../vista_admin/Modificar_Producto.html" class="btn btn-dark">Editar</a>
								<a href="#" class="btn btn-dark">Eliminar</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 mb-3">
					<div class="card shadow bg-light">
						<img
							class="card-img-top"
							src="../img/cocina.jpg"
							alt="Card image"
							style="width: 100%"
						/>
						<div class="card-body">
							<h4 class="card-title titulo-producto text-center">Cocina</h4>
							<p class="card-text">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
								dolores molestiae illum perspiciatis suscipit officia fugit
								corrupti vero totam. Fuga porro nesciunt ratione, ipsum
								veritatis commodi ea ut inventore nihil!
							</p>
							<h3 class="titulo-producto text-center">$5.000</h3>
							<div class="d-grid gap-2">
								<a href="../vista_admin/Modificar_Producto.html" class="btn btn-dark">Editar</a>
								<a href="#" class="btn btn-dark">Eliminar</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb-3">
					<div class="card shadow bg-light">
						<img
							class="card-img-top"
							src="../img/mueble.png"
							alt="Card image"
							style="width: 100%"
						/>
						<div class="card-body">
							<h4 class="card-title titulo-producto text-center">Mueble</h4>
							<p class="card-text">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
								dolores molestiae illum perspiciatis suscipit officia fugit
								corrupti vero totam. Fuga porro nesciunt ratione, ipsum
								veritatis commodi ea ut inventore nihil!
							</p>
							<h3 class="titulo-producto text-center">$5.000</h3>
							<div class="d-grid gap-2">
								<a href="../vista_admin/Modificar_Producto.html" class="btn btn-dark">Editar</a>
								<a href="#" class="btn btn-dark">Eliminar</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb-3">
					<div class="card shadow bg-light">
						<img
							class="card-img-top"
							src="../img/libreria.jpg"
							alt="Card image"
							style="width: 100%"
						/>
						<div class="card-body">
							<h4 class="card-title titulo-producto text-center">Librero</h4>
							<p class="card-text">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
								dolores molestiae illum perspiciatis suscipit officia fugit
								corrupti vero totam. Fuga porro nesciunt ratione, ipsum
								veritatis commodi ea ut inventore nihil!
							</p>
							<h3 class="titulo-producto text-center">$5.000</h3>
							<div class="d-grid gap-2">
								<a href="../vista_admin/Modificar_Producto.html" class="btn btn-dark">Editar</a>
								<a href="#" class="btn btn-dark">Eliminar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}