{% extends 'app/base.html' %} 
{% load static %} 
{% block title %} Cambiar clave {%endblock %} 

{% block content %}
		<div class="container">
			<form  action="{% url 'cambio_contrasena' %}" method="POST" enctype="multipart/form-data" id="form-camb" >
				<div class="row">
					<div class="col-2 mt-3 mb-3"></div>
					<div class="col-8 mt-3 mb-3">
						<div class="row">
							<h2 class="texto-principal text-center">Cambiar contraseña</h2>
							<hr />

							<!--titulo-->
							<h5>Contraseña actual</h5>
							<input
								type="password"
								class="form-control mb-3"
								name="contrasena"
								placeholder="*********"
								id= "claveActual"
							/>
							<h5>Nueva contraseña</h5>
							<input
								type="password"
								id="nueva_pass"
								class="form-control mb-3"
								name="contrasena"
								placeholder="*********"
								id="claveNueva"
							/>
							<h5>Reingrese nueva contraseña</h5>
							<input
								type="password"
								id="nueva_pass2"
								class="form-control mb-3"
								name="contrasena"
								placeholder="*********"
								id="claveNueva2"
							/>

							<button type="submit" class="btn btn-dark">Cambiar</button>
						</div>
						<p id="warnings" class="text-center"></p>
					</div>
					<div class="col-2"></div>
				</div>
			</form>
		</div>

{% endblock %}