{% extends 'app/base.html' %} 
{% load static %} 
{% block title %} Weston {%endblock %} 

{% block content %}
		<div class="container">
			<form method="post" id="form-recuperar">
				<div class="row">
					<div class="col-2 mt-3 mb-3"></div>
					<div class="col-8 mt-3 mb-3">
						<div class="row">
							<h3 class="text-center">¿Olvidaste tu contraseña?</h3>
							<h5 class="text-center">
								Introduce tu correo electrónico para buscar tu cuenta.
							</h5>
							<hr />
							<h5>Email</h5>
							<input
								type="email"
								class="form-control mt-1 mb-4"
								name="correo"
								placeholder="example@example.com"
								required
							/>

							<button type="submit" class="btn btn-dark">
								Recuperar contraseña
							</button>
						</div>
					</div>
					<div class="col-2"></div>
				</div>
			</form>
		</div>
{%endblock %} 
		
