{% extends 'app/base.html' %} 
{% load static %} 
{% block title %} Contacto {%endblock %} 

{% block content %}
		<div class="container">
			<form method="post" id="form-cont">
				<div class="row">
					<div class="col-2 mt-3 mb-3"></div>
					<div class="col-8 mt-3 mb-3">
						<div class="row">
							<h2 class="texto-principal text-center">Contactanos</h2>
							<hr />
							<!--titulo-->
							<h5>Nombre</h5>
							<input
								type="text"
								class="form-control mt-1 mb-2"
								name="nombre"
								id="nombre_cont"
								placeholder="ej. Juan Perez"
							/>
							<h5>Email</h5>
							<input
								type="email"
								class="form-control mt-1 mb-2"
								name="correo"
								id="correo_cont"
								placeholder="example@example.com"
							/>

							<h5>Mensaje</h5>
							<textarea
								class="form-control mt-1 mb-3"
								name="Mensaje"
								id="msj_cont"
								placeholder="Escriba un mensaje..."
								rows="8"
							></textarea>

							<button type="submit" class="btn btn-dark btn-lg">
								Enviar mensaje
							</button>
							<p id="warnings" class="text-center"></p>
						</div>
					</div>
					<div class="col-2"></div>
				</div>
			</form>
		</div>
{%endblock %}