{% extends 'app/base_admin.html' %} 
{% load static %} 
{% block title %} Lista de usuarios {%endblock %} 

{% block content %}
		<!--CONTENIDO-->
		<div class="container mt-3">
			<h2 class="texto-principal text-center">Lista de usuarios registrados</h2>
			<div style="overflow-x:auto;">
				<table class="table table-striped" >
					<thead>
						<tr>
							<th>ID</th>
							<th>Nombre completo</th>
							<th>Email</th>
							<th>Direccion</th>
							<th>Comuna</th>
							<th>Contacto</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>John</td>
							<td>john@example.com</td>
							<td>Calle falsa 123</td>
							<td>Huechuraba</td>
							<td>9 4343 4343</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Juan</td>
							<td>jahn@example.com</td>
							<td>Calle falsa 123</td>
							<td>Huechuraba</td>
							<td>9 4343 4343</td>
						</tr>
						<tr>
							<td>3</td>
							<td>John</td>
							<td>john@example.com</td>
							<td>Calle falsa 123</td>
							<td>Huechuraba</td>
							<td>9 4343 4343</td>
						</tr>
						<tr>
							<td>4</td>
							<td>John</td>
							<td>john@example.com</td>
							<td>Calle falsa 123</td>
							<td>Huechuraba</td>
							<td>9 4343 4343</td>
						</tr>
						<tr>
							<td>5</td>
							<td>John</td>
							<td>john@example.com</td>
							<td>Calle falsa 123</td>
							<td>Huechuraba</td>
							<td>9 4343 4343</td>
						</tr>
					</tbody>
				</table>}
			</div>
		</div>
{% endblock %}