{% extends 'app/base.html' %} 
{% load static %} 
{% block title %} Weston {%endblock %} 

{% block content %}
		
<form id="register" class="text-center" action="{% url 'users:signup'%}" method="post">
	{% csrf_token %}
	<div class="form-outline form-auth-mdb mb-4">
	  {{ signupForm.email}}
	  <label class="form-label" style="margin-left: 0px;">Correo Electronico</label>
	</div>
	<div class="form-outline form-auth-mdb mb-4">
		{{ signupForm.password}}
		<label class="form-label" style="margin-left: 0px;">Contraseña</label>
	</div>
	



{%endblock %} 		