{% extends 'app/base_admin.html' %} 
{% load static %} 
{% block title %} Modificar producto {%endblock %} 

{% block content %}
		<!--CONTENIDO-->

		<div class="container mb-3 mt-3">
			<h3 class="texto-principal text-center">Modificar producto</h3>
			<hr />
			<form action="{% url 'modificar_p' %}" method="POST" enctype="multipart/form-data" class="row g-3" id="form_modprod">
				{% csrf_token %}
				<div class="form-group col-md-6">
					<h5>ID Producto</h5>
					<input
						name="idP"
						type="text"
						class="form-control"
						id="idP"
						value="{{producto.idProducto}}"
						required
						readonly
					/>
				</div>
				<div class="form-group col-md-6">
					<h5>Nombre del producto</h5>
					<input
						name="nombre"
						type="text"
						class="form-control"
						id="nombre"
						value="{{producto.nombre}}"
						required
					/>
				</div>
				<div class="form-group col-md-6">
					<h5>Precio</h5>
					<input
						name="precio"
						type="number"
						class="form-control"
						id="precio"
						value="{{producto.precio}}"
						required
					/>
				</div>

				<div class="form-group col-md-6">
					<h5>Categoria</h5>
					<select class="form-control" name="categoria" id="categoria">
						{% for i in categoria %}
							{% if i.idCategoria == producto.categoria.idProducto %}
								<option value="{{ i.idCategoria }}" selected>{{ i.nombre }}</option>
							{% else %}
								<option value="{{ i.idCategoria }}"> {{ i.nombre }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>

				<div class="form-group col-md-6">
					<h5>Agregar imagen</h5>
					<input name="foto" class="form-control" type="file" id="formFile" />
				</div>
				
				<div class="form-group col-md-6">
					<h5>Stock</h5>
					<input
						type="number"
						class="form-control"
						id="stock"
						name="stock"
						value="{{producto.stock}}"
						required
					/>
				</div>

				<div class="form-group">
					<h5>Descripción corta del producto</h5>
					<textarea
						class="form-control"	
						style="height: 55px"
						id="descripcionCorta"
						name="descripcionCorta"
						required
					>{{producto.descripcionCorta}}</textarea>
				</div>

				<div class="form-group">
					<h5>Descripción del producto</h5>
					<textarea
						class="form-control"	
						style="height: 85px"
						id="descripcion"
						name="descripcion"
						required
					>{{producto.descripcion}}</textarea>
				</div>
				<div class="col-12">
					<button type="submit" class="btn btn-dark">Agregar</button>
					<a href="{% url 'menu_admin'%}">
					<button type="button" class="btn btn-dark">Deshacer</button></a>
				</div>
				<p id="warnings" class="text-center"></p>
			</form>
		</div>
{% endblock %}