{% extends 'app/base.html' %} {% load static %} {% block title %} Producto
{%endblock %} {% block content %}
<div class="container">
	<div class="row">
		{% if producto.imagen %}
		<div class="col-md-6 col-sm-12 mt-3 mb-3">
			<img src="{{producto.imageURL}}" class="img-thumbnail" alt="..." />
		</div>
		{% else %}
		<div class="col-md-6 col-sm-12 mt-3 mb-3">
			<img
				src="{% static 'app/img/weston.png' %}"
				class="img-thumbnail"
				alt="..."
			/>
		</div>
		{% endif %}

		<div class="col-md-6 col-sm-12 mt-3 mb-3">
			<div class="row px-3">
				<h3 class="texto-principal">{{producto.nombre}}</h3>
				<hr />
				<h5>{{producto.descripcion}}</h5>
				{% if producto.stock > 0 %}
				<h5 class="titulo-producto" id="stock">{{producto.stock}} Disponibles</h5>
				<h3 class="titulo-producto">${{producto.precio}}</h3>
				<button
					data-producto="{{producto.idProducto}}"
					data-action="add"
					id="agregar"
					class="btn btn-dark add-btn update-cart"
				>
					Agregar al Carro
				</button>
				
				{% else %}
				<h5 class="titulo-producto" id="stock">Sin stock actualmente</h5>
				<h3 class="titulo-producto">${{producto.precio}}</h3>
				<button
					id="agregar"
					class="btn btn-dark add-btn update-cart"
					disabled
				>
					Agregar al Carro
				</button>

				{% endif %}
				

				
			</div>
		</div>
	</div>
</div>
{% if not user.is_authenticated %}
<script type="text/javascript">
	document.getElementById('agregar').addEventListener('click', function (e) {
		e.preventDefault();
		Swal.fire({
			icon: 'error',
			title: 'Error en su solicitud',
			showConfirmButton: false,
			text: 'Debes iniciar sesión para ver tu carrito',

			footer:
				'<a href="http://127.0.0.1:8000/login_inicio"> <button class = "btn btn-dark">¡Ingresa sesión aca!</button> </a>',
		});
	});
</script>
{% endif %} 

{% endblock %}
