{% extends 'app/base.html' %} 
{% load static %} 
{% block title %} Producto {%endblock %} 

{% block content %}
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12 mt-3 mb-3">
					<img src="img/cocina.jpg" class="img-thumbnail" alt="..." />
				</div>
				<div class="col-md-6 col-sm-12 mt-3 mb-3">
					<div class="row px-3">
						<h3>Cocina blanca</h3>
						<h5 class="titulo-producto">$5.000</h5>
						<h5>Descripción</h5>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis
							quibusdam, officiis eum sit, velit dolore voluptas, quae soluta
							totam itaque cum tenetur id libero dolorem consequatur culpa
							impedit beatae quia.
						</p>
						<h5 class="titulo-producto">5 Disponibles</h5>
						<b>Seleccionar Cantidad</b>
						<div class="form-outline">
							<input
								id="form1"
								min="0"
								name="Cantidad"
								value="1"
								type="number"
								class="form-control mb-3"
							/>
						</div>
						<a href="" class="btn btn-dark">Agregar al Carro</a>
					</div>
				</div>
			</div>
		</div>

{% endblock %}
