{% extends 'app/base.html' %} 
{% load static %} 
{% block title %} Producto {%endblock %} 

{% block content %}
		<div class="container">


			<div class="row">
				<div class="col-md-6 col-sm-12 mt-3 mb-3">
					<img src="{{producto.imagen.url}}" class="img-thumbnail" alt="..." />
				</div>
				<div class="col-md-6 col-sm-12 mt-3 mb-3">
					<div class="row px-3">
						<h3>{{producto.nombre}}</h3>
						<hr>
						<h3 class="titulo-producto">${{producto.precio}}</h3>
						<h5>{{producto.descripcion}}</h5>
						
						<h5 class="titulo-producto">{{producto.stock}} Disponibles</h5>

		
						<button data-producto="{{producto.idProducto}}" data-action="add" 
						class="btn btn-dark add-btn update-cart">Agregar al Carro</button>
					</div>
				</div>
			</div>
		</div>

{% endblock %}
