{% extends 'app/base.html' %} 
{% load static %} 
{% block title %} Perfil {%endblock %} 

{% block content %}
		<!--PERFIL USUARIO-->
		<div class="container">
			<div class="row">
				<div class="col-2 mt-3 mb-3"></div>
				<div class="col-8 mt-3 mb-3">
					<div class="row">
						<h3 class="texto-principal text-center">Mi perfil</h3>
						<hr />
						<!--titulo-->
						<h5>Nombre Completo</h5>
						<!--texto deshabilitado-->
						<input
							disabled
							type="text"
							class="form-control mt-1 mb-2"
							name="nombre"
							placeholder="Marcianeke full tussi"
						/>

						<!--titulo-->
						<h5>Correo Electronico</h5>
						<!--texto deshabilitado-->
						<input
							disabled
							type="text"
							class="form-control mt-1 mb-2"
							name="correo"
							placeholder="marcianeke@gmail.com"
						/>

						<!--titulo-->
						<h5>Dirección</h5>
						<input
							disabled
							type="text"
							class="form-control mt-1 mb-2"
							name="direccion completa"
							placeholder="Los puente albino 3183, Region Metropolitana de Santiago, Puente Alto"
						/>

						<!--titulo-->
						<h5>Contacto</h5>
						<!--texto deshabilitado-->
						<input
							disabled
							type="text"
							class="form-control mt-1 mb-2"
							name="contacto"
							placeholder="+56 9 7273 1722"
						/>

						<!--titulo-->
						<h5>Contraseña</h5>
						<!--texto deshabilitado-->
						<input
							disabled
							type="password"
							class="form-control mt-1 mb-2"
							name="contrasena"
							placeholder="*************"
						/>
						<a href="editar_usuario.html" class="btn btn-dark mb-3"
							>Editar Cuenta</a
						>
					</div>
				</div>
				<div class="col-2"></div>
			</div>
		</div>

{% endblock %}