{% extends 'app/base.html' %} 
{% load static %} 
{% block title %} Cocina {%endblock %} 

{% block content %}

		<!--BANNER-->

		<div class="container">
			<div class="row justify-content-md-center">
				<img src="{%static 'app/img/bannermuebles.png' %}" alt="" />
			</div>
		</div>


		<!--PRODUCTOS-->

		<div class="container">
			<h1 class="texto-principal text-center mb-3 mt-3">Muebles</h1>
				<hr />
					<div class="row mb-3">
						{% for producto in productos %}
						<div class="col-md-4 col-sm-6 mb-3">
							<div class="card shadow bg-light">
								{% if producto.imagen %}
								<img
									class="card-img-top"
									src="{{producto.imagen.url}}"
									alt="{{producto.nombre}}"
									style="width: 100%"
								/>
								{% endif %}
								<div class="card-body">
									<h4 class="card-title titulo-producto text-center">{{producto.nombre}}</h4>
									<p class="card-text">
										{{producto.descripcionCorta}}
									</p>
									<h3 class="titulo-producto text-center">{{producto.precio}}</h3>
									<div class="d-grid gap-2">
										<a href="{% url 'muestra_producto' producto.idProducto %}" class="btn btn-dark btn-lg btn-block">Comprar</a>
									</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
	
				<div>
					{% include 'app/paginator.html' %}
				</div>
	
			</div>
	

{% endblock %}	