{% extends 'app/base.html' %} 
{% load static %} 
{% block title %} Cocina {%endblock %} 

{% block content %}

		<!--BANNER-->

		<div class="container">
			<div class="row justify-content-md-center">
				<img src="{%static 'app/img/bannercocina.png' %}" alt="" />
			</div>
		</div>

		<!--PRODUCTOS-->

		<div class="container">
			<h1 class="texto-principal text-center mb-3 mt-3">Cocinas</h1>
			<hr />
			<div class="row mb-3">
				<div class="col-md-4 col-sm-6 mb-3">
					<div class="card shadow bg-light">
						<img
							class="card-img-top"
							src="img/cocina.jpg"
							alt="Card image"
							style="width: 100%"
						/>
						<div class="card-body">
							<h4 class="card-title titulo-producto text-center">Cocina</h4>
							<p class="card-text">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
								dolores molestiae illum perspiciatis suscipit officia fugit
								corrupti vero totam. Fuga porro nesciunt ratione, ipsum
								veritatis commodi ea ut inventore nihil!
							</p>
							<h3 class="titulo-producto text-center">$5.000</h3>
							<div class="d-grid gap-2">
								<a
									href="muestra_producto.html"
									class="btn btn-dark btn-lg btn-block"
									>Comprar</a
								>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb-3">
					<div class="card shadow bg-light">
						<img
							class="card-img-top"
							src="img/cocina.jpg"
							alt="Card image"
							style="width: 100%"
						/>
						<div class="card-body">
							<h4 class="card-title titulo-producto text-center">Cocina</h4>
							<p class="card-text">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
								dolores molestiae illum perspiciatis suscipit officia fugit
								corrupti vero totam. Fuga porro nesciunt ratione, ipsum
								veritatis commodi ea ut inventore nihil!
							</p>
							<h3 class="titulo-producto text-center">$5.000</h3>
							<div class="d-grid gap-2">
								<a
									href="muestra_producto.html"
									class="btn btn-dark btn-lg btn-block"
									>Comprar</a
								>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb-3">
					<div class="card shadow bg-light">
						<img
							class="card-img-top"
							src="img/cocina.jpg"
							alt="Card image"
							style="width: 100%"
						/>
						<div class="card-body">
							<h4 class="card-title titulo-producto text-center">Cocina</h4>
							<p class="card-text">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
								dolores molestiae illum perspiciatis suscipit officia fugit
								corrupti vero totam. Fuga porro nesciunt ratione, ipsum
								veritatis commodi ea ut inventore nihil!
							</p>
							<h3 class="titulo-producto text-center">$5.000</h3>
							<div class="d-grid gap-2">
								<a
									href="muestra_producto.html"
									class="btn btn-dark btn-lg btn-block"
									>Comprar</a
								>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 mb-3">
					<div class="card shadow bg-light">
						<img
							class="card-img-top"
							src="img/cocina.jpg"
							alt="Card image"
							style="width: 100%"
						/>
						<div class="card-body">
							<h4 class="card-title titulo-producto text-center">Cocina</h4>
							<p class="card-text">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
								dolores molestiae illum perspiciatis suscipit officia fugit
								corrupti vero totam. Fuga porro nesciunt ratione, ipsum
								veritatis commodi ea ut inventore nihil!
							</p>
							<h3 class="titulo-producto text-center">$5.000</h3>
							<div class="d-grid gap-2">
								<a
									href="muestra_producto.html"
									class="btn btn-dark btn-lg btn-block"
									>Comprar</a
								>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb-3">
					<div class="card shadow bg-light">
						<img
							class="card-img-top"
							src="img/cocina.jpg"
							alt="Card image"
							style="width: 100%"
						/>
						<div class="card-body">
							<h4 class="card-title titulo-producto text-center">Cocina</h4>
							<p class="card-text">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
								dolores molestiae illum perspiciatis suscipit officia fugit
								corrupti vero totam. Fuga porro nesciunt ratione, ipsum
								veritatis commodi ea ut inventore nihil!
							</p>
							<h3 class="titulo-producto text-center">$5.000</h3>
							<div class="d-grid gap-2">
								<a
									href="muestra_producto.html"
									class="btn btn-dark btn-lg btn-block"
									>Comprar</a
								>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb-3">
					<div class="card shadow bg-light">
						<img
							class="card-img-top"
							src="img/cocina.jpg"
							alt="Card image"
							style="width: 100%"
						/>
						<div class="card-body">
							<h4 class="card-title titulo-producto text-center">Cocina</h4>
							<p class="card-text">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
								dolores molestiae illum perspiciatis suscipit officia fugit
								corrupti vero totam. Fuga porro nesciunt ratione, ipsum
								veritatis commodi ea ut inventore nihil!
							</p>
							<h3 class="titulo-producto text-center">$5.000</h3>
							<div class="d-grid gap-2">
								<a
									href="muestra_producto.html"
									class="btn btn-dark btn-lg btn-block"
									>Comprar</a
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}		