{% extends 'app/base.html' %} 
{% load static %} 
{% block title %} Ventas {%endblock %} 

{% block content %}

	<!--LISTA MENSUAL-->
	<div class="container-fluid">

		<h1 class="texto-principal text-center">
			Registro de ventas mensuales
		</h1>

		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="btn-group" role="group" aria-label="Basic example">
					<button type="button" class="btn btn-dark">Exportar en formato PDF</button>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 col-sm-12" style="overflow-x:auto;">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Mes</th>
							<th>Ingresos</th>
							<th>Año</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Enero</td>
							<td>$350.478.217</td>
							<td>2022</td>
						</tr>
						<tr>
							<td>Febrero</td>
							<td>$129.202.819</td>
							<td>2022</td>
						</tr>
						<tr>
							<td>Marzo</td>
							<td>$324.100.092</td>
							<td>2022</td>
						</tr>
						<tr>
							<td>Abril</td>
							<td>$121.969.100</td>
							<td>2022</td>
						</tr>
						<tr>
							<td>Mayo</td>
							<td>$234.737.100</td>
							<td>2022</td>
						</tr>
						<tr>
							<td>Junio</td>
							<td>$122.213.233</td>
							<td>2022</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>

	{% endblock %}