{% extends 'app/base_admin.html' %} 
{% load static %} 
{% block title %} Agregar producto {%endblock %} 

{% block content %}
		<!--CONTENIDO-->

		<div class="container">
			<h3 class="text-center">Agregar producto</h3>
			<hr />
			<form class="row g-3" id="form-agregar">
				<div class="col-md-6">
					<label class="form-label">Nombre del producto</label>
					<input type="text" class="form-control" id="nombre_prod" placeholder="Escriba el nombre del producto aquí..." required />
				</div>
				<div class="col-md-6">
					<label class="form-label">Precio</label>
					<input type="number" class="form-control" id="precio_prod" placeholder="Ingrese el precio del producto aquí..." required />
				</div>
				<div class="mb-3">
					<label for="formFile" class="form-label">Agregar imagen</label>
					<input class="form-control" type="file" id="formFile"  required />
				</div>
				<div class="col-md-12">
					<select class="form-select" id="inputGroupSelect02">
						<option selected>Escoge La Categoria</option>
						<option value="1">Cocina</option>
						<option value="2">Muebles</option>
						<option value="3">Libreros</option>
					</select>
				</div>
				<label for="floatingTextarea2">Descripción del producto</label>
				<textarea
					class="form-control"
					placeholder="Escriba la descripción del producto aquí..."
					id="desc_prod"
					style="height: 100px"
					required
				></textarea>
				<div class="col-12">
					<button type="submit" class="btn btn-dark">Agregar</button>
					<a href="admin.html"
						><button type="button" class="btn btn-dark">Deshacer</button></a
					>
				</div>
				<p id="warnings" class="text-center"></p>
			</form>
		</div>
		
{% endblock %}