body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	background-color: #fafff0;
}


.carrito {
	min-height: 80vh;
	margin: 0 auto;
	width: 100%;
}
.table__productos {
	display: flex;
}
.table__productos > img {
	width: 9rem;
	object-fit: contain;
	border-radius: 6px;
	margin-right: 20px;
}
.table__cantidad > input {
	width: 40px;
	border: none;
	outline: 0;
	font-size: 16px;
	font-weight: 700;
	margin-right: 30px;
	margin-bottom: 20px;
}

.hide,
.remove {
	display: none;
}

footer {
	min-height: calc(100vh - 470px - 58px);
	margin: 0 auto;
	width: 100%;
	padding: 50px 20px;
}

.imagenProducto{
	height: 300px;
	width: 300px;
}

.texto-principal {
	color: #e0a901;
	font-family: 'Domine', serif;
	font-weight: bold;
}

.titulo-producto {
	color: #e0a901;
}

#warnings {
	width: 200px;
	text-align: center;
	margin: auto;
	color: #c50000;
	padding-top: 5px;
	padding-bottom: 10px;
	font-weight: bold;
}

.pagination > li > a
{
    background-color: rgb(250, 255, 233);
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #a4b607;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: rgb(255, 255, 255);
    background-color: #e0a901 !Important;
    border: solid 1px #e0a901 !Important;
}

.pagination > .active > a:hover
{
    background-color: #e0a901 !Important;
    border: solid 1px #e0a901;
}